.Rproj.user
fDOM_forecasting.Rproj
.Rhistory
.RData
.Ruserdata
fDOM_4casts.Rproj
Data/Drivers/flare
Data/Drivers/noaa
Data/Targets/BVR_catwalk_10min.csv
Data/Targets/CCR_catwalk_10min.csv
Data/Targets/FCR_catwalk_10min.csv
Data/GeneratedData/
Data/Forecasts/AR_4casts
Data/Forecasts/Clim_4casts
Data/Forecasts/MetRegress_4casts
Data/Forecasts/NNETAR_4casts
Data/Forecasts/Persist_4casts
Data/Forecasts/RainLag_4casts
Data/Scores/Scores
Data/Scores/old
Figures/
Scripts/SI_timeseries_figure.R
